/* FONTES EXTRAS - utilizadas no site */
@font-face {
  font-family: Centeria;
  src: url("recursos/CenteriaScriptDemo.otf");
}

@font-face {
  font-family: permapetit;
  src: url("recursos/ParmaPetit-Normal.ttf");
}

/* FORMATAÇÃO INICIAL - texto/margens/padding/cores/alinhamentos */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f0f5d5;
}

.alinhamento {
  margin: 0 0;
  position: relative;
}

h1 {
  font-family: Centeria;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding: 0 10px;
  color: black;
}

h1:first-child {
  margin-top: 20px;
}

.ultimonome {
  font-family: Centeria;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 100px;
  position: relative;
  color: black;
}

.divisor {
  display: flex;
  justify-content: center;
}

.divisorimg {
  width: 80%;
  max-width: 500px;
  height: auto;
}

h2 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 15px;
  color: black;
  margin-bottom: 20px;
}

.fotos {
  text-align: center;
}

h3 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.mapa-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 400px;
}

.mapa {
  width: 80%;
  max-width: 800px;
  height: 100%;
}

p {
  font-family: Helvetica;
  color: black;
  margin-left: 5px;
}

.textopix {
  text-align: justify;
  margin: 0 60px;
}

h2 p {
  margin: 0 30px;
}

footer {
  text-align: center;
  font-size: 10px;
  padding-top: 15vh;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #00000000;
}

a:hover {
  color: #ffffff;
  font-weight: bold;
}

a:active {
  background: rgb(255, 255, 255);
  font-style: italic;
}

/* GRADIENTES FOTOS */
.fotos {
  background-color: #ffffff34; /* Define o fundo branco */
  background-image: linear-gradient(
    to bottom,
    #f0f5d5,
    #00fff241,
    #f0f5d5
  ); /* Cria o gradiente nas bordas superior e inferior */
  padding: 15px 0;
  margin: 20px 0;
}

/* FOTOS  */

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 50vw;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  padding: 20px auto;
}
.carousel img {
  position: absolute;
  height: auto;
  width: 50%;
  max-width: 500px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.carousel img.active {
  opacity: 1;
}

/* FUNÇÃO DO BOTÃO PRINCIPAL (PIX) */

.wrapper {
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
}

.botao {
  display: block;
  margin: auto;
  background-color: #00fff241;
  padding: 1vh 2px;
  width: 230px;
  border-radius: 50px;
  font-size: 20px;
  animation: breathe 1.5s infinite ease-in-out;
  position: absolute;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* CSS GRID */

.grid1 {
  display: grid;
  grid-template-columns: 30vw 15vw;
  grid-template-rows: auto auto auto;
  row-gap: 5vh;
  max-width: auto;
  margin: 15px;
}

.sobre-nos {
  grid-column: 1/4;
  border-left: 2px solid #000000;
  text-align: justify;
  margin-top: 100px;
  margin-left: 15px;
  margin: 0 30px;
  padding-left: 15px;
}

.emojicerimonia {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  align-self: center;
  justify-self: center;
  border-bottom: solid 2px #000000;
  padding: auto;
}

.cerimonia {
  grid-column: 2/4;
  grid-row: 2;
  border-left: 2px solid #000000;
  text-align: justify;
}

.emojilocalizacao {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  border-bottom: solid 2px #000000;
  padding: auto;
}
.localizacao {
  grid-column: 2/4;
  grid-row: 3;
  border-left: 2px solid #000000;
  max-width: fit-content;
  text-align: justify;
}

/* CONFIRMAÇÃO */
.h2rsvp {
  text-align: center;
}

.form {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

form {
  border: #00fff241 2px solid;
  padding: 25px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #00fff241;
  border-radius: 4px;
}
label {
  display: block;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #00fff241;
  border: none;
  color: #000000;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

/* CONTAGEM REGRESSIVA */

#countdown {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.contagemh2 {
  text-align: center;
  margin-top: 100px;
}

.square {
  background-color: #5aebe42c;
  border: 2px solid #000000;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  border-radius: 5px;
  height: auto;
  width: 35%;
  max-width: 130px;
}

.label {
  font-size: 40%;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 10px;
  color: #000000;
}

.value {
  color: #000000;
  font-family: fantasy;
  font-size: 200%;
  font-weight: normal;
}

/* POPup PIX */

.Pixpopup {
  position: absolute;
  background-color: #f0f5d5;
  width: 90%;
  bottom: 15px;
  border: #000000 solid 2px;
  opacity: 0;
  visibility: hidden;
  max-width: 800px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.open-popup {
  visibility: visible;
  animation: fadeInAnimation 2s ease-in-out forwards;
}

.Pixpopup h3 {
  font-size: 20px;
  text-align: center;
}

.informações-da-conta {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  row-gap: 15px;
  column-gap: 7px;
  margin: 0 auto;
  justify-content: center;
  text-align: right;
  margin: 25px 0;
}

.Pixpopup h2 {
  text-align: center;
}

.QRcodepix {
  height: auto;
  max-width: 200px;
}

.QRcodepix {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Pixpopup button {
  background-color: #00fff241;
  border: none;
  color: #000000;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

.mensagempix {
  height: 75px;
  width: 100%;
  border: 2px #5aebe42c solid;
}

.titulomensagem {
  display: flex;
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  font-family: permapetit;
  font-size: 25px;
}
