/* FONTES EXTRAS - utilizadas no site */
@font-face {
  font-family: Centeria;
  src: url("recursos/CenteriaScriptDemo.otf");
}

@font-face {
  font-family: permapetit;
  src: url("recursos/ParmaPetit-Normal.ttf");
}

/* FORMATAÇÃO INICIAL - texto/margens/padding/cores/alinhamentos */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f0f5d5;
}

.alinhamento {
  margin: 0 0;
}

h1 {
  font-family: Centeria;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding: 0 10px;
  color: black;
}

h1:first-child {
  margin-top: 20px;
}

.ultimonome {
  font-family: Centeria;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 100px;
  position: relative;
  color: black;
}

.divisor {
  display: flex;
  justify-content: center;
}

.divisorimg {
  width: 80%;
  max-width: 500px;
  height: auto;
}

h2 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 15px;
  color: black;
  margin-bottom: 20px;
}

.fotos {
  text-align: center;
}

h3 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.mapa-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 400px;
}

.mapa {
  width: 80%;
  max-width: 800px;
  height: 100%;
}

p {
  font-family: Helvetica;
  color: black;
  margin-left: 5px;
}

footer {
  text-align: center;
  font-size: 10px;
  padding-top: 15vh;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #00000000;
}

a:hover {
  color: #ffffff;
  font-weight: bold;
}

a:active {
  background: rgb(255, 255, 255);
  font-style: italic;
}

/* GRADIENTES FOTOS */
.fotos {
  background-color: #ffffff34; /* Define o fundo branco */
  background-image: linear-gradient(
    to bottom,
    #f0f5d5,
    lightblue,
    #f0f5d5
  ); /* Cria o gradiente nas bordas superior e inferior */
  padding: 15px 0;
  margin: 20px 0;
}
/* FOTOS  */

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 50vw;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  padding: 20px auto;
}
.carousel img {
  position: absolute;
  height: auto;
  width: 50%;
  max-width: 500px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.carousel img.active {
  opacity: 1;
}

/* FUNÇÃO DO BOTÃO PRINCIPAL (PIX) */

.wrapper {
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
}

.botao {
  display: block;
  margin: auto;
  background-color: white;
  padding: 1vh 2px;
  width: 230px;
  border-radius: 50px;
  font-size: 20px;
  animation: breathe 3s infinite ease-in-out;
  position: fixed;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* CSS GRID */

.grid1 {
  display: grid;
  grid-template-columns: 30vw 15vw;
  grid-template-rows: auto auto auto;
  row-gap: 5vh;
  max-width: auto;
  margin: 15px;
}

.sobre-nos {
  grid-column: 1/4;
  border-left: 2px solid rgb(0, 0, 0);
  text-align: center;
  margin-top: 100px;
  margin-left: 15px;
}

.emojicerimonia {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  align-self: center;
  justify-self: center;
  border-bottom: solid 2px #000000;
  padding: auto;
}

.cerimonia {
  grid-column: 2/4;
  grid-row: 2;
  border-left: 2px solid rgb(0, 0, 0);
}

.emojilocalizacao {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  border-bottom: solid 2px #000000;
  padding: auto;
}
.localizacao {
  grid-column: 2/4;
  grid-row: 3;
  border-left: 2px solid rgb(0, 0, 0);
  max-width: fit-content;
}

/* CONFIRMAÇÃO */
.h2rsvp {
  text-align: center;
}

.form {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

form {
  border: #00fff2 2px solid;
  padding: 25px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #00fff2;
  border-radius: 4px;
}
label {
  display: block;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #00fff2;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

/* CONTAGEM REGRESSIVA */

.contagem {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.contagemh2 {
  text-align: center;
  margin-top: 100px;
}

#countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  max-width: 750px;
}

.square {
  background-color: #00fff2;
  border: 2px solid #000000;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  /* padding: 30px; */
  border-radius: 10px;
}

.label {
  font-size: 35%;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 10px;
  color: #000000;
}

.value {
  color: #000000;
  font-family: permapetit;
  font-size: 200%;
}
