/* FONTES EXTRAS - utilizadas no site */
@font-face {
  font-family: Centeria;
  src: url("recursos/CenteriaScriptDemo.otf");
}

@font-face {
  font-family: permapetit;
  src: url("recursos/ParmaPetit-Normal.ttf");
}

/* FORMATAÇÃO INICIAL - texto/margens/padding/cores/alinhamentos */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #ffc0cb9d;
}

.alinhamento {
  margin: 0 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c24d61;
}

h1 {
  font-family: Centeria;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  padding: 10px 10px;
  margin: 20px 20px;
  padding-bottom: 50px;
  position: relative;
  color: white;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-image: url(IMG/underline\ brush.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

h2 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: ;
  margin-top: 15px;
  color: white;
}

h3 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 25px;
  margin-top: 20px;
  color: white;
}

p {
  font-family: Helvetica;
  color: white;
}

.QRcodes {
  max-width: 100vw; /* Largura máxima da div */
  max-height: auto;
  background-color: white;
  border-bottom: #f77389 solid 5px;
  border-top: #f77389 solid 5px;
}

.QRcodes img {
  max-width: 35vw; /* Tamanho máximo da imagem */
  height: auto;
  margin: 20px 20px;
}

/* EDIÇÃO DE BOTOES */

.botao {
  background-color: #f77389;
  padding: 1vh 10px;
  border: solid #f77389;
  border-radius: 200px;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 75px; /* ou outro valor, dependendo da altura do botão */
  left: 3vw;
}

button:hover {
  background-color: #a30d53;
  color: #ffffff88;
  border: solid #a30d53;
  cursor: pointer;
}

button:active {
  background-color: #ffffff;
  color: #000000;
  border: solid #ffffff;
}

/* FLEX BOX */
/* SEÇÃO 1 */

.section1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  margin-bottom: 50px;
  margin-right: 20vw;
}

.opcao1 {
  grid-row: 1;
  grid-column: 1;
  align-self: left;
  justify-self: left;
  margin: 0 0;
  font-size: 5vw;
}

.titulo1 {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: right;
  margin: 0 30px;
}

.corpo1 {
  grid-row: 2/3;
  grid-column: 1;
  align-self: left;
  justify-self: left;
  text-align: left;
  font-size: 15px;
  margin: 0 0;
  padding-bottom: 25px;
  border-bottom: solid 2px white;
}

.img1 {
  position: absolute;
  right: 5vw;
  width: 150px;
  height: 150px;
}

/* SEÇÃO 2 */

.section2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  margin-bottom: 50px;
  margin-left: 20vw;
}

.opcao2 {
  grid-row: 1;
  grid-column: 2;
  justify-self: right;
  margin: 0 0;
  font-size: 5vw;
}

.titulo2 {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: left;
  margin: 0 30px;
}

.corpo2 {
  grid-row: 2;
  grid-column: 2;
  justify-self: left;
  font-size: 15px;
  margin: 0 0;
  padding-bottom: 25px;
  border-bottom: solid 2px white;
}

.img2 {
  position: absolute;
  left: 5vw;
  width: 150px;
  height: 150px;
}

/* SEÇÃO 3 */

.section3 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  margin-bottom: 50px;
  margin-right: 20vw;
}

.opcao3 {
  grid-row: 1;
  grid-column: 1;
  align-self: left;
  justify-self: left;
  margin: 0 0;
  font-size: 5vw;
}

.titulo3 {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: right;
  margin: 0 30px;
}

.corpo3 {
  grid-row: 2/3;
  grid-column: 1;
  align-self: left;
  justify-self: left;
  text-align: left;
  font-size: 15px;
  margin: 0 0;
  padding-bottom: 25px;
  border-bottom: solid 2px white;
}

.img3 {
  position: absolute;
  right: 5vw;
  width: 150px;
  height: 150px;
}

/* SEÇÃO 4 */

.section4 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  margin-bottom: 50px;
  margin-left: 20vw;
}

.opcao4 {
  grid-row: 1;
  grid-column: 2;
  justify-self: right;
  margin: 0 0;
  font-size: 5vw;
}

.titulo4 {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: left;
  margin: 0 30px;
}

.corpo4 {
  grid-row: 2;
  grid-column: 2;
  justify-self: left;
  font-size: 15px;
  margin: 0 0;
  padding-bottom: 25px;
  border-bottom: solid 2px white;
}

.img4 {
  position: absolute;
  left: 5vw;
  width: 150px;
  height: 150px;
}

/* SEÇÃO 5 */

.section5 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  margin-bottom: 50px;
  margin-right: 20vw;
}

.opcao5 {
  grid-row: 1;
  grid-column: 1;
  align-self: left;
  justify-self: left;
  margin: 0 0;
  font-size: 5vw;
}

.titulo5 {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: right;
  margin: 0 30px;
}

.corpo5 {
  grid-row: 2/3;
  grid-column: 1;
  align-self: left;
  justify-self: left;
  text-align: left;
  font-size: 15px;
  margin: 0 0;
  padding-bottom: 25px;
  border-bottom: solid 2px white;
}

.img5 {
  position: absolute;
  right: 5vw;
  width: 150px;
  height: 150px;
}
