/* FONTES EXTRAS - utilizadas no site */
@font-face {
  font-family: Centeria;
  src: url("recursos/CenteriaScriptDemo.otf");
}

@font-face {
  font-family: permapetit;
  src: url("recursos/ParmaPetit-Normal.ttf");
}

/* FORMATAÇÃO INICIAL - texto/margens/padding/cores/alinhamentos */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f84e79a6;
}

.alinhamento {
  margin: 0 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c24d61;
}

h1 {
  font-family: Centeria;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding: 0 10px;
  color: white;
}

.ultimonome {
  font-family: Centeria;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 100px;
  position: relative;
  color: white;
}

.ultimonome::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-image: url(IMG/underline\ brush.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

h2 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 15px;
  color: white;
}

.fotos {
  text-align: center;
}

h3 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.mapa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.mapa {
  width: 80vw;
  height: 100%;
}

p {
  font-family: Helvetica;
  color: white;
  margin-left: 5px;
}

footer {
  text-align: center;
  font-size: 10px;
  padding-top: 15vh;
}

/* GRADIENTES FOTOS */

.gradiente {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 15vh; /* altura da transição de cor */
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 15vh;
}

.section1 {
  background-color: white;
  flex: 1;
}

.section2 {
  background-color: #c24d61;
  flex: 1;
  background-image: linear-gradient(to bottom, white, #c24d61);
}

/* FOTOS  */

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 50vw;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-bottom: #f77389 solid 5px;
  border-top: #f77389 solid 5px;
}
.carousel img {
  position: absolute;
  height: auto;
  width: 50vw;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.carousel img.active {
  opacity: 1;
}

/* FUNÇÃO DO BOTÃO PRINCIPAL (PIX) */

.botao {
  background-color: #f77389;
  padding: 1vh 25px;
  border: solid #f77389;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  position: fixed;
  bottom: 25px; /* ou outro valor, dependendo da altura do botão */
  left: 50%;
  transform: translateX(-50%);
}

button:hover {
  background-color: #a30d53;
  color: #ffffff88;
  border: solid #a30d53;
  cursor: pointer;
}

button:active {
  background-color: #ffffff;
  color: #000000;
  border: solid #ffffff;
}

/* CSS GRID */

.grid1 {
  display: grid;
  grid-template-columns: 30vw 15vw;
  grid-template-rows: auto auto auto;
  row-gap: 5vh;
  max-width: auto;
}

.sobre-nos {
  grid-column: 1/4;
  border-left: 2px solid white;
  text-align: center;
  margin-top: 100px;
  margin-left: 15px;
}

.emojicerimonia {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  align-self: center;
  justify-self: right;
}

.cerimonia {
  grid-column: 2/4;
  grid-row: 2;
  border-left: 2px solid white;
}

.emojilocalizacao {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
  justify-self: right;
}
.localizacao {
  grid-column: 2/4;
  grid-row: 3;
  border-left: 2px solid white;
  max-width: fit-content;
}
