/* FONTES EXTRAS - utilizadas no site */
@font-face {
  font-family: Centeria;
  src: url("recursos/CenteriaScriptDemo.otf");
}

@font-face {
  font-family: permapetit;
  src: url("recursos/ParmaPetit-Normal.ttf");
}

/* FORMATAÇÃO INICIAL - texto/margens/padding/cores/alinhamentos */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f84e79a6;
}

.alinhamento {
  margin: 0 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c24d61;
}

h1 {
  font-family: Centeria;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding: 10px 10px;
  margin: 20px 20px;
  padding-bottom: 50px;
  position: relative;
  color: white;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-image: url(IMG/underline\ brush.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

h2 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: ;
  margin-top: 15px;
  color: white;
}

.fotos {
  text-align: center;
}

h3 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px
  color: white;
}

.mapa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.mapa {
  width: 80vw;
  height: 100%;
}

p {
  font-family: Helvetica;
  color: white;
  margin-left: 5px;
}

footer {
  text-align: center;
  font-size: 10px;
  padding-top: 15vh;
}

/* GRADIENTES FOTOS */

.gradiente {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 10vh; /* altura da transição de cor */
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.section1 {
  background-color: white;
  flex: 1;
}

.section2 {
  background-color: #c24d61;
  flex: 1;
  background-image: linear-gradient(to bottom, white, #c24d61);
}

/* FOTOS  */

.formatacao-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw; /* Largura máxima da div */
  max-height: auto;
  background-color: white;
  border-bottom: #f77389 solid 5px;
  border-top: #f77389 solid 5px;
}

.formatacao-fotos img {
  max-width: 25vw; /* Tamanho máximo da imagem */
  height: auto;
  margin: 20px 20px;
}

/* FUNÇÃO DO BOTÃO PRINCIPAL (PIX) */

.botao {
  background-color: #f77389;
  padding: 1vh 25px;
  border: solid #f77389;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  position: fixed;
  bottom: 25px; /* ou outro valor, dependendo da altura do botão */
  left: 50%;
  transform: translateX(-50%);
}

button:hover {
  background-color: #a30d53;
  color: #ffffff88;
  border: solid #a30d53;
  cursor: pointer;
}

button:active {
  background-color: #ffffff;
  color: #000000;
  border: solid #ffffff;
}
