/* FONTES EXTRAS - utilizadas no site */
@font-face {
  font-family: Centeria;
  src: url("recursos/CenteriaScriptDemo.otf");
}

@font-face {
  font-family: permapetit;
  src: url("recursos/ParmaPetit-Normal.ttf");
}

/* FORMATAÇÃO INICIAL - texto/margens/padding/cores */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #ffc0cb9d;
}

.alinhamento {
  margin: 0 20px;
  border: 5px inset #fc8c9ffb;
  background-color: #d898984b;
}

h1 {
  font-family: Centeria;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  padding: 10px 10px;
  margin: 20px 20px;
  border-bottom: 5px dashed white;
  border-top: 5px dashed white;
}

h2 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
}

h3 {
  font-family: permapetit;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
}
/* .mapa {
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
p {
  font-family: Helvetica;
}

footer{ 
  text-align: center;
  font-size: 10px;
}

.botao{ 
  background-color: #f77389;
  padding: 10px 25px;
  border: solid #f77389;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
}